@import "vars";
@font-face {
    font-family:$font;
    src: url("../fonts/#{$font}.ttf");
    font-style: serif;
}
@import "text";
@import "burger";
@import "other";
@import "swup";
// @import "daisyui";



body {
    font-family:$font ,serif;

    .error{
        color:rgb(212, 4, 4)
    }
}