
@import "vars";
@font-face {
    font-family:$font;
    src: url("../fonts/#{$font}.ttf");
    font-style: serif;
    font-display: swap;
}
@import "other";
@import "text";
@import "burger";
@import "swup";
@import "bootstrap/bootstrap-grid.scss";

body {
    font-family:$font ,sefif;

    .error{
        color:rgb(212, 4, 4)
    }
}
@import "system"